.nav-item a:hover{
    color:  #8400ff;
}


.navbar-nav li a{
    text-align: center;
}

h5{
    font-size: 1.6rem;
}

 .left{
    padding-top: 4rem;
 }

.tg{
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 5rem;
    margin-top: 1rem;
 }

 .tg span{
    font-weight: 500;
 }

 .btn-1{
    background-color:  #8400ff;
    padding:  .7rem 1.5rem;
    font-weight: 600;
    border-radius: .5rem;
    color:white;
    border:none;
 }

  .btn-2{
    background-color:  transparent;
    padding:  .5rem 1.5rem;
    font-weight: 600;
    border-radius: .5rem;
    color:#8400ff;
    border:2px solid #8400ff;
    margin-left: .5rem;
 }

 .btn-2:hover{
    background-color: #8400ff;
    color: white;
    font-weight: 600;
 }

 #img{
    width: auto;
    height:400px;
    border-radius: 50%;
    margin-left: 8rem;
    margin-top:5rem;
 }

 .left{
    margin-left: 1rem;
 }

 @media (max-width:768px) {
     #img{
    width: auto;
    height:400px;
    border-radius: 50%;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    margin-top:3rem;
 }

 .left{
    margin-bottom: 2rem;
    text-align: center;
 }
 }